[submodule "WoW/AddOns/!NoTaint"]
	path = WoW/AddOns/!NoTaint
	url = https://github.com/yous/Ctrl-S.git
	branch = !NoTaint
[submodule "WoW/AddOns/_NPCScan"]
	path = WoW/AddOns/_NPCScan
	url = git://git.wowace.com/wow/npcscan/mainline.git
[submodule "WoW/AddOns/_NPCScan.Overlay"]
	path = WoW/AddOns/_NPCScan.Overlay
	url = git://git.wowace.com/wow/npcscan-overlay/mainline.git
[submodule "WoW/AddOns/AddOnSkins"]
	path = WoW/AddOns/AddOnSkins
	url = git://git.curseforge.net/wow/elvui_addonskins/mainline.git
[submodule "WoW/AddOns/Decursive"]
	path = WoW/AddOns/Decursive
	url = git://git.wowace.com/wow/decursive/mainline.git
[submodule "WoW/AddOns/ExtraCD"]
	path = WoW/AddOns/ExtraCD
	url = https://github.com/yous/Ctrl-S.git
	branch = ExtraCD
[submodule "WoW/AddOns/GatherMate2"]
	path = WoW/AddOns/GatherMate2
	url = git://git.wowace.com/wow/gathermate2/mainline.git
[submodule "WoW/AddOns/GatherMate2_Data"]
	path = WoW/AddOns/GatherMate2_Data
	url = https://github.com/yous/Ctrl-S.git
	branch = GatherMate2_Data
[submodule "WoW/AddOns/GearStatsSummary"]
	path = WoW/AddOns/GearStatsSummary
	url = https://github.com/zhengruiw02/GearStatsSummary.git
[submodule "WoW/AddOns/GTFO"]
	path = WoW/AddOns/GTFO
	url = https://github.com/yous/Ctrl-S.git
	branch = GTFO
[submodule "WoW/AddOns/HandyNotes"]
	path = WoW/AddOns/HandyNotes
	url = https://github.com/yous/Ctrl-S.git
	branch = HandyNotes
[submodule "WoW/AddOns/HandyNotes_TimelessIsleChests"]
	path = WoW/AddOns/HandyNotes_TimelessIsleChests
	url = https://github.com/yous/Ctrl-S.git
	branch = HandyNotes_TimelessIsleChests
[submodule "WoW/AddOns/Mapster"]
	path = WoW/AddOns/Mapster
	url = git://git.wowace.com/wow/mapster/mainline.git
[submodule "WoW/AddOns/MogIt"]
	path = WoW/AddOns/MogIt
	url = https://github.com/yous/Ctrl-S.git
	branch = MogIt
[submodule "WoW/AddOns/Omen"]
	path = WoW/AddOns/Omen
	url = git://git.wowace.com/wow/omen-threat-meter/mainline.git
[submodule "WoW/AddOns/Postal"]
	path = WoW/AddOns/Postal
	url = https://github.com/yous/Ctrl-S.git
	branch = Postal
[submodule "WoW/AddOns/Skada"]
	path = WoW/AddOns/Skada
	url = https://github.com/yous/Ctrl-S.git
	branch = Skada
